<html>

<head>
    <title>RRDBC</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="header">
        <h3 class="title-text" id="status"></h3>
        <h3 class="title-text" id="clock">13:50:00</h3>
        <h3 class="title-text" id="user"></h3>
    </div>
    <div id="cols">
        <div>
            <h4 class="title-text">Sources</h4>
            <table>
                {{ range .Sources }}
                <tr>
                    {{ range . }}
                    <td class="button-td">
                        {{ if .ID }}
                        <button class="button-source" id="{{.ID}}">{{.Name}}</button> {{ end }}
                    </td>
                    {{ end }}
                </tr>
                {{ end }}
            </table>
        </div>
        <div id="take-buttons">
            <button class="button-take" id="take-button">TAKE</button>
            <ul id="connections" class="connections-list"></ul>
            <button class="button-take" id="undo-button">UNDO</button>
            <ul id="undo-connections" class="connections-list"></ul>
        </div>
        <div>
            <h4 class="title-text">Destinations</h4>
            <table>
                {{ range .Destinations }}
                <tr>
                    {{ range . }}
                    <td class="button-td">
                        {{ if .ID }}
                        <button class="button-dest" id="{{.ID}}">{{.Name}}</button>
                        <p class="dest-link" id="dest-connection-{{.ID}}">----</p>
                        {{ end }}
                    </td>
                    {{ end }}
                </tr>
                {{ end }}
            </table>
        </div>
    </div>

    <script src="main.js"></script>
</body>

</html>